body {
  background: url('https://github.com/Ismailcny/instagram-counter-demo/blob/46d40d1287b9334ffcef86f76ab1670ddcaa2da5/fb111c30-497e-4649-8567-08545618d707.jpg?raw=true');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 3em;
  margin-top: 20px;
}
